<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h1 class="mb-4 color text-light">Articulos</h1>

    <%= form_with(url: root_path, method: :get, class: 'custom-form') do |form| %>
      <%= form.collection_select :tag, ActsAsTaggableOn::Tag.all, :name, :name, { prompt: 'Filtrar por etiqueta' }, class: 'custom-select' %>
      <%= form.submit 'Filtrar', class: 'btn custom-button' %>
    <% end %>
  </div>

  <% @posts.each do |post| %>
    <div class="post-container">
      <h2><%= post.title %></h2>
      <p><%= post.content %></p>
      <div class="btn-group">
        <%= link_to 'Show', post_path(post), class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-secondary' %>
        <%= link_to 'Destroy', post_path(post), data: {turbo_method: :delete,turbo_confirm: 'Are you sure?'},class: 'btn btn-danger ' %>
      </div>
    </div>
  <% end %>

  <br>

  <%= link_to 'New post', new_post_path, class: 'btn btn-success' %>


  <div class="mt-4">
  <%= will_paginate @products, previous_label: 'Anterior', next_label: 'Siguiente', class: 'apple_pagination' %>
  </div>
</div>
