<div class="container mt-5">
  <div class="post-content-container">
    <%= render @post %>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-start justify-content-center">
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary me-md-2 mb-2 mb-md-0' %>
    <%= link_to 'Comentar', new_comment_path(post_id: @post.id), class: 'btn btn-warning color text-light' %>
    <%= link_to "Back to posts", posts_path, class: 'btn btn-secondary' %>

    <%= button_to "Destroy this post", @post, method: :delete ,class: 'btn btn-danger ' %>
    
  </div>
  <div class="tags">
    <h4 class="color text-light">Tags:</h4>
    <% @post.tag_list.each do |tag| %>
      <span class="badge badge-primary tag"><%= tag %></span>
    <% end %>
  </div>

  <div class="container mt-5">
    <h3 class="color text-light">Comentarios:</h3>
    <% @post.comments.where(parent_id: nil).each do |comment| %>
      <div class="comment_container">
        <strong><%= comment.name %>:</strong>
        <p><%= comment.content %></p>

        <!-- Agregar botón para mostrar el formulario de respuesta -->
        <%= link_to 'Responder', new_comment_path(post_id: @post.id, parent_id: comment.id), class: 'btn btn-secondary' %>

        <!-- Mostrar respuestas a este comentario -->
        <div class="replies">
          <% comment.replies.each do |reply| %>
            <div class="comment_container reply">
              <strong><%= reply.name %>:</strong>
              <p><%= reply.content %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>